.wrapper {
  width: 1220px;
  margin: 4% auto 0;
}

.wrapper .previewContent {
  display: flex;
  height: 650px;
}

.wrapper .previewContent .previewInfo{
  position: relative;
  z-index: 2;
}

.wrapper .previewContent .previewInfo .textPlatform {
  color: var(--Primaty-Cyan-Dark, #2b788b);
  font-family: 700 16px "Montserrat";
  margin-bottom: 24px;
}

.wrapper .previewContent .previewInfo h1 {
  width: 520px;
  font: 400 56px "Dela Gothic One";
  color: var(--Primaty-Black, #000);
  margin-bottom: 30px;
}

.wrapper .previewContent .previewInfo .textAdditional {
  width: 440px;
  color: var(--Primaty-Grey-Dark, #757575);
  font: 600 18px "Montserrat";
  margin-bottom: 30px;
}

.wrapper .previewContent .previewInfo .btn {
  border-radius: 100px;
  background: var(--Primaty-Cyan-Light, #c3dce3);
  color: #2b788b;
  font: 700 16px "Montserrat";
  width: 165px;
  height: 44px;
  padding-left: 18px;
  padding-top: 13px;
  margin-top: 32px;
}

.wrapper .previewContent .previewInfo .statistics {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.wrapper .previewContent .previewInfo .statistics .lightningImg {
  background-image: url(./assets/Frame\ 35271.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 30px;
}

.wrapper .previewContent .previewInfo .statistics .studentsCount {
  color: #000;
  font: 400 40px "Dela Gothic One";
}

.wrapper .previewContent .previewInfo .statistics .studentsCount span {
  color: #2b788b;
  font: 400 40px "Dela Gothic One";
}

.wrapper .previewContent .previewInfo .textStudents {
  color: #585858;
  font: 600 16px "Montserrat";
  margin-left: 35px;
}

.wrapper .previewImg {
  background-image: url(./assets/Frame\ 24.png);
  width: 1100px;
  height: 601px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 25px;
  position: relative;
  z-index: 1;
  margin-left: -130px;
}

.wrapper .learnContent .secondPreview {
  display: flex;
  justify-content: space-between;
  height: 600px;
  background: #fff;
}

.wrapper .learnContent .secondPreview .Img {
  background-image: url(./assets/image\ 8.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 580px;
  height: 445px;
  margin-top: 80px;
}

.wrapper .learnContent .secondPreview .textBlock h2 {
  color: var(--Primaty-Black, #000);
  font: 400 48px "Dela Gothic One";
  width: 540px;
  margin-top: 120px;
}

.wrapper .learnContent .secondPreview .textBlock p {
  color: var(--Primaty-Grey-Dark, #757575);
  font: 600 18px "Montserrat";
  width: 540px;
  margin-top: 30px;
}

.wrapper .learnContent .secondPreview .miniImg {
  display: flex;
  margin-top: 30px;
}

.wrapper .learnContent .secondPreview .miniImg .firstImg {
  background-image: url(./assets/Group\ 11.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 129px;
  height: 112px;
}

.wrapper .learnContent .secondPreview .miniImg .secondImg {
  background-image: url(./assets/Group\ 10.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 172px;
  height: 112px;
}

.wrapper .knowledgeContent {
  display: flex;
  height: 400px;
  margin-left: 100px;
}

.wrapper .knowledgeContent .thirdPreview h2 {
  color: var(--Primaty-Black, #000);
  font: 400 48px "Dela Gothic One";
  width: 470px;
  margin-top: 170px;
}

.wrapper .knowledgeContent .thirdPreview p {
  color: var(--Primaty-Grey-Dark, #757575);
  font: 600 18p "Montserrat";
  width: 300px;
  margin-top: 30px;
}

.wrapper .knowledgeContent .thirdPreview .btn {
  border-radius: 100px;
  background: var(--Primaty-Cyan-Light, #c3dce3);
  color: #2b788b;
  font: 700 16px "Montserrat";
  width: 131px;
  height: 44px;
  padding: 12px 25px;
  margin-top: 34px;
}

.wrapper .knowledgeContent .thirdImg {
  background-image: url(./assets/image\ 2.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 80px;
  width: 580px;
  height: 470px;
}

.wrapper .progressContent {
  display: flex;
  margin-top: 150px;
  height: 600px;
  background: #fff;
}

.wrapper .progressContent .forthImg {
  background-image: url(./assets/image\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 680px;
  height: 400px;
  margin: 100px 0 0 50px;
}

.wrapper .progressContent .fourthText h2 {
  color: var(--Primaty-Black, #000);
  font: 400 48px "Dela Gothic One";
  width: 470px;
  margin-top: 130px;
}

.wrapper .progressContent .fourthText p {
  color: var(--Primaty-Grey-Dark, #757575);
  font: 600 18px "Montserrat";
  width: 390px;
  margin-top: 30px;
}

.wrapper .progressContent .fourthText .btn {
  border-radius: 100px;
  background: var(--Primaty-Cyan-Light, #c3dce3);
  width: 129px;
  height: 44px;
  color: var(--Primaty-Cyan-Dark, #2b788b);
  font: 700 16px "Montserrat";
  padding: 12px 25px;
  margin-top: 30px;
}
