.wrapper {
  box-shadow: 0px -1px 0px 0px #e0e0e0 inset;
  height: 60px;
}

.wrapper .headerItem {
  width: 1220px;
  margin: auto;
}

.wrapper .headerItem .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .headerItem .item .textItem {
  display: flex;
  align-items: center;
  grid-gap: 30px;
}

.wrapper .headerItem .item .textItem h1 {
  font: 400 16px "Dela Gothic One";
  color: #000;
}

.wrapper .headerItem .textItem .img {
  background-image: url(./assets/Vector\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 5px;
  height: 17px;
}

.wrapper .headerItem .item .btns {
  display: flex;
  align-items: center;
}

.wrapper .headerItem .item .btns .login {
  font: 700 16px "Montserrat";
  color: #000;
  margin-right: 25px;
}

.wrapper .headerItem .item .btns .reg {
  font: 700 16px "Montserrat";
  color: #fff;
  border-radius: 14.188px;
  background: #2b788b;
  padding: 13px 21px;
}

/* .wrapper .headerItem .stroke {
  border: 1.2px solid #e6e5e5;
  margin-top: 15px;
} */
